<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Tangoe Mobile Procurement API </title>

  <script src="{{site.url}}/js/jquery/jquery-2.1.4.min.js"></script>

  <link rel="stylesheet" href="{{site.url}}/css/tgUI-style.0.2.8.min.css" />
  <link rel="stylesheet" href="{{site.url}}/css/styles-syntax.css">
  <link rel="stylesheet" href="{{site.url}}/css/styles.css" />

</head>
<body>

  <div id="tg-shellMain">

    <header class="dc-banner">
     <div class="tg-display--table  tg-one-whole  tg-pad--half">
      <div class="tg-display--table-cell"  style="width:120px;padding-top:4px">
        <a href="{{site.url}}"><img src="{{site.url}}/images/TangoeLogo.png" alt="Tangoe" class="dc-logo" /></a>
      </div><!--
    --><div class="tg-display--table-cell  tg-text--left  tg-valign--top"><span style="color:#fff">REST APIs ~</span> Mobile Procurement (MOBPROC) v1</div>
     </div>

     <div class="dc-banner--royal  tg-text--right  tg-pad--right">
        <div class="dc-bannerLinks">
          <a href="https://anypoint.mulesoft.com/apiplatform/tangoe#/portals" target="_blank" class="dc-bannerLink">Developer Portal - Log In</a>
        </div>
      </div>
    </header>

